<section class="bg-[#211c24]">
  <div class="flex justify-center items-center mx-auto content">
    <div class="flex flex-col justify-between w-[714px] h-[256px]">
      <p class="text-2xl italic text-gray-600">Pro.Beyond.</p>
      <p class="text-8xl text-white Abel">IPhone 15 Pro</p>
      <p class="text-lg italic text-[#909090]">
        Created to change everything for the better. For everyone
      </p>
      <app-button color="light" product="/product/74" />
    </div>
    <div class="max-w-[406px] max-h-[632px]">
      <img
        class="w-full h-full"
        src="Images/Iphone Image.png"
        alt="IPhone 14 Pro"
      />
    </div>
  </div>
</section>
<section>
  <div class="grid grid-cols-4 grid-rows-[328px_272px] h-[600px]">
    <div
      class="flex col-span-2 row-span-1 justify-start items-center bg-white h-[328px] group"
    >
      <div class="overflow-hidden">
        <img
          class="transition-all duration-300 group-hover:scale-110 ease"
          src="Images/PlayStation.png"
          alt="Playstation"
        />
      </div>
      <div class="space-y-3 w-[338px]">
        <p class="text-5xl italic text-black">Playstation 5</p>
        <p class="text-sm italic text-[#909090]">
          Incredibly powerful CPUs, GPUs, and an SSD with integrated I/O will
          redefine your PlayStation experience.
        </p>
      </div>
    </div>
    <div
      class="flex col-span-2 row-span-2 gap-x-2 justify-end items-center bg-[#ededed] group"
    >
      <div class="flex flex-col justify-between h-[192px] w-[360px]">
        <p class="text-[64px] Abel leading-14">
          Macbook <span class="italic leading-14">Air</span>
        </p>
        <p class="text-sm italic text-[#909090]">
          The new 15‑inch MacBook Air makes room for more of what you love with
          a spacious Liquid Retina display.
        </p>
        <app-button color="dark" product="/product/94" />
      </div>
      <div class="overflow-hidden max-w-[292px] max-h-[502px]">
        <img
          class="w-full h-full transition-all duration-300 transform group-hover:scale-95 group-hover:translate-x-3 ease"
          src="Images/MacBook Pro 14.png"
          alt="Mac Book Pro 14"
        />
      </div>
    </div>
    <div
      class="flex col-span-1 row-span-1 gap-x-8 justify-start items-center h-[272px] bg-[#ededed] group"
    >
      <div class="overflow-hidden">
        <img
          src="Images/Airpods Max.png"
          alt="Airpods Max"
          class="transition-all duration-300 group-hover:scale-105 ease"
        />
      </div>
      <div class="w-[160px]">
        <p class="text-3xl italic text-black">Apple Airpods Max</p>
        <p class="text-sm italic text-[#909090]">
          Computational audio. Listen, it's powerful
        </p>
      </div>
    </div>
    <div
      class="flex col-span-1 row-span-1 gap-x-8 justify-start items-center h-[272px] bg-[#353535] group"
    >
      <div class="overflow-hidden">
        <img
          src="Images/Apple Vision.png"
          alt="Apple Vision"
          class="transition-all duration-300 group-hover:scale-105 ease"
        />
      </div>
      <div class="w-[160px]">
        <p class="text-3xl italic text-white">Apple Airpods Max</p>
        <p class="text-sm italic text-[#909090]">
          Computational audio. Listen, it's powerful
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="flex flex-col gap-y-6 justify-center mx-auto w-[1120px] h-[352px]"
  >
    <div class="flex justify-between items-center text-2xl italic text-black">
      <p>Browse By Category</p>
      <div class="flex justify-between items-center w-[80px]">
        <button class="cursor-pointer">
          <img src="Icon/32px/Arrow.svg" alt="back category" />
        </button>
        <button class="cursor-pointer">
          <img
            class="rotate-180"
            src="Icon/32px/Arrow.svg"
            alt="next category"
          />
        </button>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <app-category-card category="Phones" />
      <app-category-card category="Smart Watches" />
      <app-category-card category="Cameras" />
      <app-category-card category="Headphones" />
      <app-category-card category="Computers" />
      <app-category-card category="Gaming" />
    </div>
  </div>
</section>
<section>
  <div class="flex flex-col mx-auto sm:flex-row max-w-[1440px]">
    <div class="w-[360px] h-[640px]">
      <div class="w-full h-[327px]">
        <img
          src="Images/applewatch.png"
          class="w-full h-full"
          alt="apple watch"
        />
      </div>
      <div class="flex flex-col justify-between mx-auto h-[208px] w-[296px]">
        <h3 class="italic text-[33px]">Popular Products</h3>
        <p class="text-sm italic text-[#909090]">
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-button color="dark" product="/product" />
      </div>
    </div>
    <div class="w-[360px] h-[640px] bg-[#f9f9f9]">
      <div class="w-full h-[327px]">
        <img src="Images/ipads.png" class="w-full h-full" alt="apple watch" />
      </div>
      <div class="flex flex-col justify-between mx-auto h-[208px] w-[296px]">
        <h3 class="italic text-[33px]">Ipad Pro</h3>
        <p class="text-sm italic text-[#909090]">
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-button color="dark" product="/products" />
      </div>
    </div>
    <div class="w-[360px] h-[640px] bg-[#eaeaea]">
      <div class="w-full h-[327px]">
        <img src="Images/phones.png" class="w-full h-full" alt="apple watch" />
      </div>
      <div class="flex flex-col justify-between mx-auto h-[208px] w-[296px]">
        <h3 class="italic text-[33px]">Samsung Galaxy</h3>
        <p class="text-sm italic text-[#909090]">
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-button color="dark" product="/products" />
      </div>
    </div>
    <div class="w-[360px] h-[640px] bg-[#2c2c2c]">
      <div class="w-full h-[327px]">
        <img
          src="Images/Macbook 1.png"
          class="w-full h-full"
          alt="apple watch"
        />
      </div>
      <div class="flex flex-col justify-between mx-auto h-[208px] w-[296px]">
        <h3 class="italic text-white text-[33px]">Popular Products</h3>
        <p class="text-sm italic text-[#909090]">
          iPad combines a magnificent 10.2-inch Retina display, incredible
          performance, multitasking and ease of use.
        </p>
        <app-button color="light" product="/products" />
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="flex justify-center items-center w-screen bg-gradient-to-r to-black from-[#2e2e2e] h-[448px]"
  >
    <div class="flex flex-col justify-between items-center h-[200px]">
      <h2 class="text-7xl italic text-white font-[400]">
        Big Summer <span class="font-medium">Sale</span>
      </h2>
      <p class="text-sm text-[#787878]">
        Commodo fames vitae vitae leo mauris in. Eu consequat.
      </p>
      <app-button color="light" product="/products" />
    </div>
  </div>
</section>
