<footer>
  <div
    class="flex flex-col justify-center items-center w-screen bg-black h-[500px]"
  >
    <div class="flex flex-col justify-start">
      <div>
        <div class="flex flex-col justify-between sm:flex-row w-[1120px]">
          <div class="w-[384px]">
            <img src="/Logos/Logo.svg" alt="logo" />
            <p class="italic font-normal text-[#cfcfcf]">
              We are a residential interior design firm located in Portland. Our
              boutique-studio offers more than
            </p>
          </div>
          <div class="flex justify-between items-center w-[623px] h-[256px]">
            <div class="flex flex-col justify-between h-full">
              <h5 class="text-white">Services</h5>
              <a href="#" class="text-sm text-[#cfcfcf]">Bonus program</a>
              <a href="#" class="text-sm text-[#cfcfcf]">Gift cards</a>
              <a href="#" class="text-sm text-[#cfcfcf]">Credit and payment</a>
              <a href="#" class="text-sm text-[#cfcfcf]">Service contracts</a>
              <a href="#" class="text-sm text-[#cfcfcf]">Non-cash acoount</a>
              <a href="#" class="text-sm text-[#cfcfcf]">Payment</a>
            </div>
            <div class="flex flex-col justify-between h-full">
              <h5 class="text-white">Assistance to the buyer</h5>
              <a href="#" class="text-sm text-[#cfcfcf]">Find an order</a>
              <a href="#" class="text-sm text-[#cfcfcf]">Tems of delivery</a>
              <a href="#" class="text-sm text-[#cfcfcf]"
                >Exchange and return of goods</a
              >
              <a href="#" class="text-sm text-[#cfcfcf]">Guarantee</a>
              <a href="#" class="text-sm text-[#cfcfcf]"
                >Frequently asked question</a
              >
              <a href="#" class="text-sm text-[#cfcfcf]"
                >Tems of use of the site</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center mt-4 w-[173px]">
        <a href="#">
          <img src="/Icon/16px/Twitter.svg" alt="Twitter" />
        </a>
        <a href="#">
          <img src="/Icon/16px/Facebook.svg" alt="Facebook" />
        </a>
        <a href="#">
          <img src="/Icon/16px/Tiktok.svg" alt="Tiktok" />
        </a>
        <a href="#">
          <img src="/Icon/16px/Instagram.svg" alt="Instagram" />
        </a>
      </div>
    </div>
  </div>
</footer>
