<header class="w-screen h-[88px] bg-white">
  <div class="content flex mx-auto justify-around items-center h-full">
    <a href="/">
      <img src="Logos/Color=Black.svg" alt="cyber logo" />
    </a>
    <app-search></app-search>
    <div class="w-[88px] flex justify-between items-center">
      <a href="/favourite" class="cursor-pointer">
        <img src="Icon/32px/Favorites.svg" alt="Favorites" />
      </a>
      <a href="/cart" class="cursor-pointer">
        <img src="Icon/32px/Cart.svg" alt="Cart" />
      </a>
    </div>
  </div>
</header>
